:root {
  /*   COLORS */
  --color-black: rgba(0, 0, 0, 0.8);
  --color-red: rgb(186, 20, 28);
  --color-white: rgb(248, 243, 242);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*   outline: 1px solid yellow; */
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--color-red);
  font: 400 1.6rem/1.7 "Lobster", cursive;
}

/* HEADER */

#header {
  background: linear-gradient(
      to right bottom,
      var(--color-black),
      var(--color-black)
    ),
    url(https://images7.alphacoders.com/320/320344.png) center/cover no-repeat
      fixed;
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 20rem auto 1fr;
  justify-items: center;
  height: 95vh;
}

/* NAVIGATION */

#nav-bar {
  left: 0;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-list {
  display: flex;
  font-size: 3.5rem;
  justify-content: space-around;
  list-style: none;
}

.nav-item {
  flex: 1;
  text-align: center;
  transition: all 0.2s;
}

.nav-item:nth-child(1) {
  text-align: left;
}

.nav-item:nth-child(3) {
  text-align: right;
}

.nav-item:hover {
  transform: translatey(-0.3rem);
}

.nav-item:active {
  transform: translatey(-0.1rem);
}

.nav-link:link,
.nav-link:visited {
  background-color: var(--color-red);
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  color: var(--color-black);
  padding: 1.5rem 4rem;
  text-decoration: none;
}

#header-img {
  align-self: center;
  height: 32rem;
  margin-top: 30rem;
}

h1 {
  -webkit-text-stroke: 0.5px var(--color-white);
  align-self: center;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  margin-top: 17rem;
}

/* MAIN */

main {
  width: 100%;
}

/* WHO WE ARE */

#who-we-are {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 50%;
  padding-bottom: 5rem;
  padding-top: 9.5rem;
  text-align: justify;
}

.video-div {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  position: relative;
  width: 100%;
}

#video {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

p {
  margin-top: 2rem;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.btn {
  background-color: #000;
  border-radius: 1rem;
  color: var(--color-rex);
  text-decoration: none;
  transition: all 0.2s;
  padding: 1.5rem 3rem;
}

.btn:hover {
  transform: translatey(-0.3rem);
}

.btn:active {
  transform: translatey(-0.1rem);
}

/* MEMBERS */

#members {
  background: linear-gradient(
      to right bottom,
      var(--color-black),
      var(--color-black)
    ),
    url(https://images7.alphacoders.com/320/320344.png) center/cover no-repeat
      fixed;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

table {
  text-align: center;
  width: 85%;
}

table,
td,
tr {
  border: 2px solid var(--color-white);
  border-collapse: collapse;
}

th {
  color: var(--color-white);
}

/* BECOME A MEMBER */

#become-a-member {
  font-size: 2rem;
  margin: 0 auto;
  max-width: 50%;
  padding-top: 8rem;
  padding-bottom: 3rem;
}

#form {
  display: grid;
  grid-auto-rows: 3.5rem;
  grid-row-gap: 0.5rem;
  padding: 1rem;
}

label,
input {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  font: inherit;
}

label[for="name"] {
  grid-row: 1 / 2;
}

#name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

label[for="email"] {
  grid-row: 3 / 4;
}

#email {
  grid-row: 4 / 5;
}

label[for="village"] {
  grid-row: 5 / 6;
}

#village {
  grid-row: 6 / 7;
}

label[for="message"] {
  grid-row: 7 / 8;
}

#message {
  grid-row: 8 / 13;
}

input:focus {
  background: #ece7e7;
  border-color: var(--color-red);
  outline: none;
}

textarea {
  resize: none;
}

#submit {
  background-color: #000;
  color: var(--color-red);
  cursor: pointer;
  display: block;
  font: inherit;
}

#submit:focus {
  outline: 0;
}

@media screen and (max-width: 768px) {
  #header {
    height: 50vh;
  }
  
  #nav-list {
    font-size: 2.5rem;
  }
  
  .nav-item:nth-child(1) {
    text-align: right;
  }
  
  .nav-link:link, .nav-link:visited {
    padding: 1.5rem 3rem;
  }
  
  #header-img {
    height: 26rem;
    margin-top: 22rem;
  }
  
  h1 {
    font-size: 4rem;
    margin-top: 11rem;
  }
  
  #who-we-are {
    max-width: 90%;
    padding-top: 5rem;
  }
  
  #members {
    padding: 5rem 0;
  }
  
  #become-a-member {
    max-width: 90%;
    padding: 2rem 0;
  }
}

/* @media screen and (max-width: 1035px) {
  #header {
    height: 85vh;
  }
  
  #nav-list {
    font-size: 2.5rem;
  }
  
  .nav-item:nth-child(1) {
    text-align: center;
  }
  
  .nav-link:link, .nav-link:visited {
    padding: 1.5rem 3rem;
  }
  
  #header-img {
    height: 30rem;
    margin-top: 25rem;
  }
  
  h1 {
    margin-top: 13rem;
  }
  
  #who-we-are {
    max-width: 90%;
  }
  
  table {
    width: 90%;
  }
  
  #become-a-member {
    max-width: 90%;
  }
} */

@media screen and (max-width: 765px) {
  #header {
    height: 65vh;
  }
  
  #nav-list {
    font-size: 1.5rem;
  }
  
  #header-img {
    height: 20rem;
    margin-top: 15rem;
  }
  
  h1 {
    letter-spacing: 0.3rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 576px) {
  #header {
    height: 40vh;
  }
  
  #nav-list {
    font-size: 1.3rem;
  }
  
  .nav-link:link, .nav-link:visited {
    padding: 0.5rem;
  }
  
  #header-img {
    height: 15rem;
    margin-top: 7rem;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 361px) {
  #header {
    grid-row-g: 0.5rem;
    height: 36vh;
  }
  
  .nav-item {
    flex: auto;
  }
  
  .nav-link:link,
  .nav-link:visited {
    padding: 0.1rem 0.4rem;
  }
  
  #header-img {
    height: 9rem;
    margin-top: 2rem;
  }
  
  h1 {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin-top: -10rem;
  }
  
  #who-we-are {
    font-size: 1.5rem;
    max-width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  
  p {
    margin-top: 1rem;
  }
  
  .btn-div {
    margin-top: 1rem;
  }
  
  .btn {
    padding: 0.1rem 0.4rem;
  }
  
  #members {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  
  #form {
    grid-auto-rows: 2.5rem;
  }
}