:root {
  /* COLORS */
  --primary-bg: hsl(178, 90%, 42%);
  --secondary-bg: hsl(178, 100%, 25%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
/*   outline: orangered solid 3px; */
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-bg);
  box-sizing: border-box;
  font: 400 clamp(100%, 1.6rem + 2vw, 2.4rem)/1.4 'Roboto', sans-serif;
}

p {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

.bg {
  background-color: #00b1aa;
}

pre {
  background-color: var(--secondary-bg);
  text-align: justify;
  white-space: pre-wrap;
  word-break: break-word;
}

#main-doc {
  display: flex;
  flex-direction: row-reverse;
  gap: 4rem;
}

.main-article {
  padding-right: 5rem;
  margin-top: 1.5rem;
}

.section-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.9rem;
  letter-spacing: 0.2rem;
  margin: 1.5rem auto;
}

#navbar {
  border-right: 2px solid #000;
  flex: 0 0 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.nav-header {
  margin-top: 0.2rem;
  text-align: center;
}

ul:not(.nav-list) {
  padding-inline-start: 4rem;
}

.nav-list {
  list-style-type: none;
}

.nav-list > .nav-item:last-child {
  border-bottom: 1px solid #000;
}

.nav-item {
  border-top: 1px solid #000;
  padding: 2rem 1rem;
}

.nav-link:link,
.nav-link:visited {
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.nav-link:hover {
  color: #ff790e;
  transition: color 0.2s ease-out;
}

@media (max-width: 54em) {
  #main-doc {
    flex-direction: column-reverse;
    gap: 0;
  }
  
  .main-article {
    padding: 2rem;
  }
  
  p,
  pre {
    margin: 1.5rem;
  }
  
  #navbar {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
  }
  
  .nav-item {
    padding: 1rem;
  }
}